<nav class="navbar navbar-dark bg-primary fixed-top navbar-expand-lg">
	<div class="container">
		<a class="navbar-brand" href="{{ "." | absURL }}">
			<img src="{{ "assets/images/latex-logo-white.svg" | absURL }}" style="max-height: 36px;" alt="LaTeX"/>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ "latex" | absURL }}">Mi a LaTeX?</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ "hasznalat" | absURL }}">Használat</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ "blog" | absURL }}">Blog</a>
				</li>
			</ul>
			
		</div>
	</div>
</nav>
