<meta charset="utf-8" />
<link rel="shortcut icon" href="{{ "assets/images/latex-logo.svg" | absURL }}" />
<link rel="stylesheet" href="{{ "assets/css/bootstrap.min.css" | absURL }}" />
<link rel="stylesheet" href="{{ "assets/css/overrides.css" | absURL }}" />
<link rel="stylesheet" href="{{ "assets/css/latex-web.css" | absURL }}" />
<title>FSF.hu LaTeX Portál</title>
